# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
ENV/
.venv/
.idea/
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test output
.coverage
htmlcov/

# Docker files
Dockerfile
docker-compose.yml

# Environment files
.env
*.env

apiKeyDev.json