# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# Flask instance folder
instance/
*.db
*.sqlite3

# Environment variables
.env
*.env

# Logs
*.log

# IDE files
.vscode/
.idea/
*.swp

# Docker
*.pid
*.tar
*.gz

# OS files
.DS_Store
Thumbs.db

# Test and coverage
htmlcov/
.coverage
.tox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.pyc

apiKeyDev.json
